@import '../../../Variables.scss';

.mainCalendar {
    width: 100%;
    height: 100%;
    padding: 2%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    box-sizing: border-box;

    .header2 {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        height: 30%;
        padding-top: 15px;
        padding-left: 10px;

        .monthYear {
            color: $black-light;
            font-family: "Noto Sans";
            font-size: 23px;
            font-weight: 600;
            line-height: 28.69px;
            margin-block-start: 0;
            margin-block-end: 0;
            margin-bottom: 5px;
        }

        .specialDay {
            color: $gray-light;
            font-family: "Noto Sans";
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 20.88px;
            margin-block-start: 0;
            margin-block-end: 0;

        }
    }

    .weekdays {
        width: 100%;
        height: 8%;
        display: flex;
        align-items: center;
        margin-bottom: 2%;
        color: $black;
        font-variant-numeric: lining-nums tabular-nums;
        font-family: "Noto Sans";
        font-size: 14.91px;
        font-weight: 600;
        line-height: 20.3px;

        .weekday {
            width: 14.28%;
            text-align: center;
        }
    }

    .days-grid {
        display: flex;
        flex-wrap: wrap;
        height: 55%;

        .day {
            width: 14.28%;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            position: relative;
            cursor: pointer;

            .innerDay {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70%;
                height: 80%;
                border: 1px solid #DFDFDF;
                font-family: "Noto Sans";
                font-weight: 600;
                font-size: 12px;
                line-height: 16.34px;

                .special {
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
                    background: yellow;
                    padding: 2px 5px;
                    font-size: var(--font-size-12);
                }
            }

            &.weekend {
                .innerDay {
                    background-color: $pink-light;
                    color: $white;
                }
            }

            &.today {
                .innerDay {
                    background-color: $blue;
                    color: $white;
                }
            }

            &.selected {
                .innerDay {
                    background-color: $green;
                    color: $white;
                }
            }

            &.empty {
                .innerDay {
                    background-color: $white-dark;
                    cursor: default;
                }
            }

            &.next-month {
                .innerDay {
                    background-color: $pink-light;
                }
            }
        }
    }
}

@media screen and (max-width:1050px) {
    .mainCalendar {
        .header2 {
            .monthYear {
                font-size: 22px;
                line-height: 22.69px;
            }

            .specialDay {
                font-size: 16px;
                line-height: 19.88px;
            }
        }
    }
}

@media screen and (max-width:950px) and (min-height:1200px) {
    .mainCalendar {
        .header2 {
            .monthYear {
                font-size: 30px;
                line-height: 40.69px;
            }

            .specialDay {
                font-size: 17px;
                line-height: 24.88px;
            }
        }
    }
}

@media screen and (max-width:800px) {
    .mainCalendar {
        .header2 {
            .monthYear {
                font-size: 24px;
                line-height: 30.69px;
            }

            .specialDay {
                font-size: 17px;
                line-height: 24.88px;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .mainCalendar {
        .header2 {
            .monthYear {
                font-size: 21px;
                line-height: 22.69px;
            }

            .specialDay {
                font-size: 14px;
                line-height: 17.88px;
            }
        }

        .weekdays {
            font-size: 9.91px;
            padding-top: 10px;
        }
    }
}

@media screen and (max-width:450px) {
    .mainCalendar {
        .header2 {
            .monthYear {
                font-size: 18px;
            }

            .specialDay {
                font-size: 13px;
            }
        }
    }
}

@media screen and (max-width:400px) {
    .mainCalendar {
        .header2 {
            padding-top: 0;

            .monthYear {
                font-size: 15px;
                line-height: 18.69px;
            }

            .specialDay {
                font-size: 11px;
                line-height: 14.88px;
            }
        }
    }
}

@media screen and (max-width:350px) {
    .mainCalendar {
        .header2 {
            .monthYear {
                font-size: 18px;
            }

            .specialDay {
                font-size: 13px;
                line-height: 18.88px;
            }
        }
    }
}