@import '../../Variables.scss';

.testimonials {
    display: flex;
    align-items: center;
    width: 100vw;
    // height: 100vh;
    padding-top: 95px;

    .testimonialsInner {
        display: flex;
        flex-wrap: wrap;
        // height: 100%;
        width: 100%;

        .item {
            width: 20%;
            // height: 50%;
            height: 352px;
        }

        .item:last-child:hover {
            background-image: linear-gradient(to right, $primary-color-light, $secondary-color-light);

            &>:nth-child(1)>:nth-child(1) {
                color: $white;
            }
        }
    }
}

@media screen and (max-width:1050px) {
    .testimonials {
        .testimonialsInner {
            .item{
                height:300px;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .testimonials {
        .testimonialsInner {
            .item{
                height:250px;
            }
        }
    }
}

@media screen and (max-width:450px) {
    .testimonials {
        // height: 100vh;
        margin-top: -10%;

        .testimonialsInner {
            // height: 80%;

            .item {
                border: 1px solid $white;
                width: 50%;
                // height: 20%;
                height:220px;
            }
    }
}
}