@import "../../../Variables.scss";

.vaaniCard {
    width: 45%;
    height: 95%;
    border-radius: 4px 24px 4px 24px;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgba(35, 35, 47, 0.06), 0 4px 8px 0 rgba(35, 35, 47, 0.08);

    .card__image {
        width: 100%;
        height: 50%;
    }

    .cardContent {
        width: 100%;
        // height: 50%;
        padding: 16px;

        .cardSubtitle {
            color: $black-light;
            font-family: "Anek Latin";
            font-size: 14px;
            font-weight: 500;
            line-height: 15.4px;
            font-family: Anek Latin;

        }

        .cardHeading {
            color: $black-light;
            font-family: "Anek Latin";
            font-size: 18px;
            font-weight: 600;
            line-height: 20px;
            margin: 4px 0;
        }

        svg {
            width: 100%;
        }

        .cardText {
            overflow: hidden;
            color: $black-light;
            text-overflow: ellipsis;
            font-family: "Anek Latin";
            font-size: 15px;
            font-weight: 400;
            line-height: 16.6px;
            margin-bottom: 5px;

            p {
                margin-block-start: 0;
                margin-block-end: 0;
            }
        }

        .learnMore {
            margin-top: 20px;
            color: $black-light;
            font-family: "Anek Latin";
            font-size: 15px;
            font-weight: 400;
            line-height: 16.6px;
            text-decoration-line: underline;
        }
    }
}

@media screen and (max-width:1150px) {
    .vaaniCard {
        .cardContent {
            .cardSubtitle {
                font-size: 13px;
            }

            .cardHeading {
                font-size: 16px;
            }

            .cardText {
                font-size: 13px;
                margin-bottom: 10px;
            }

            .learnMore {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width:1050px) {
    .vaaniCard {
        .card__image {
            // height: 50%;
        }

        .cardContent {
            // height: 45%;

            .cardSubtitle {
                font-size: 12px;
            }

            .cardHeading {
                font-size: 15px;
            }

            .cardText {
                font-size: 12px;
                margin-bottom: 10px;
            }

            .learnMore {
                font-size: 13px;
            }
        }
    }
}

@media screen and (max-width:950px) {
    .vaaniCard {
        .cardContent {
            .cardSubtitle {
                font-size: 10px;
            }

            .cardHeading {
                font-size: 14px;
                line-height: 18px;
            }

            .cardText {
                font-size: 11px;
                margin-bottom: 8px;
            }

            .learnMore {
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width:800px) {
    .vaaniCard {
        .cardContent {
            padding: 10px 15px;
            .cardSubtitle {
                font-size: 9px;
            }

            .cardHeading {
                font-size: 12px;
                line-height:16px;
            }

            .cardText {
                font-size: 9px;
                line-height:14px;
                margin-bottom: 0;
            }

            .learnMore {
                font-size: 9px;
            }
        }
    }
}

@media screen and (max-width:700px) {
    .vaaniCard {
        .cardContent {
            .cardSubtitle {
                font-size: 8px;
            }

            .cardHeading {
                font-size: 11px;
                line-height:15px;
            }

            .cardText {
                font-size: 8px;
                line-height:13px;
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .vaaniCard {
        .cardContent {
            padding: 10px 13px;

            .cardSubtitle {
                font-size: 6.5px;
            }

            .cardHeading {
                font-size: 9px;
                line-height: 12px;
            }

            .cardText {
                font-size: 6.5px;
                line-height: 10.6px;
            }

            .learnMore{
                font-size: 8px;
            }
        }
    }
}

@media screen and (max-width:500px) {
    .vaaniCard {
        .cardContent {
            .cardSubtitle {
                font-size: 5.5px;
            }

            .cardHeading {
                font-size: 7px;
            }

            .cardText {
                font-size: 5.5px;
            }

            .learnMore {
                font-size: 6px;
                line-height: 9.6px;
            }
        }
    }
}

@media screen and (max-width:450px) {
    .vaaniCard {
        height:auto;

        .cardContent {
            padding: 10px;

            .cardHeading {
                font-size: 10px;
                line-height: 13px;
            }

            .cardSubtitle {
                font-size: 7.5px;
        line-height: 8.4px;
            }

            .cardText {
                font-size: 7.5px;
                line-height: 10.5px;
            }

            .learnMore{
                font-size: 9px;
                line-height: 9.6px;
            }
        }
    }
}

@media screen and (max-width:450px) {
    .vaaniCard {
        .cardContent {
            .cardHeading {
                font-size: 9px;
                line-height: 12px;
            }

            .cardSubtitle {
                font-size: 6.5px;
        line-height: 7.4px;
            }

            .cardText {
                font-size: 6.5px;
                line-height: 9.5px;
            }

            .learnMore{
                font-size: 8px;
                line-height: 8.6px;
            }
        }
    }
}

@media screen and (max-width:350px) {
    .vaaniCard {
        .cardContent {
            .cardSubtitle {
                font-size: 6px;
            }}}}