@import "../../../Variables.scss";

.registeredSuccessfully {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom:100px;

    &__inner {
        width: 90%;

        &__heading {
            width: 100%;
            text-align: center;
            font-family: Barlow;
            font-size: 20px;
            font-weight: 600;
            line-height: 21px;
            text-align: center;
            color:#1751A4;
        }

        &__image{
            width:100%;
            display:flex;
            align-items: center;
            justify-content: center;
            margin:20px 0;
        }

        &__spinner{
            width:100%;
            margin-top:-20px;
        }
    }
}