
// $deep-blue: rgba(29, 10, 105, 1);
// $white: rgba(255, 255, 255, 1);
// $navy-light: rgba(124, 169, 194, 1);
// $navy-dark: rgba(0, 91, 143, 1);
// $gray-2: rgba(204, 204, 204, 1);
// $gray-3: rgba(122, 122, 122, 1);
// $gray-5: rgba(35, 35, 35, 1);
// $shadows-light-theme-elevation-02: 0px 4px 8px 0px rgba(35, 35, 47, 0.08), 0px 1px 2px 0px rgba(35, 35, 47, 0.06);
// $primitives-color-gray-100: rgba(0, 0, 0, 1);
// $UI-style-colors-icons-icons: $primitives-color-gray-100;
// $UI-style-colors-icons-icons-duplicate: $primitives-color-gray-100;

// Primary Colors
$primary-color: #2744A0; // Example deep blue
$primary-color-light: #1751A4; // Lighter version of primary color
$primary-color-dark: #002D62; // Darker version of primary color

// Secondary Colors
$secondary-color: #C12F33; // Example secondary color
$secondary-color-light: #BF2C2D; // Lighter version of secondary color
$secondary-color-dark: #9C012F; // Darker version of secondary color

// Dropdown Color
$dropdown-color:lightskyblue;

// floating message color
$floating-message-color: #D1666D;

// Discover hover color
$discover-color-light:#E66A6B;
$discover-color-dark:#BF2C2D;

// Header box shadow
$header-box-shadow: 0 1px 2px 0 rgba(35, 35, 47, 0.08);

// Discover box shadow
$discover-box-shadow: 0 4px 8px 0 rgba(35, 35, 47, 0.08);

// Neutral Colors
$white: #FFFFFF;
$blue:blue;
$green:green;
$white-dark: #DFDFDF;
$white-bright:#F7F7F7;
$gray-light: #7A7A7A;
$gray-dark: #353535;
$black: #000000;
$black-light:#232323;
$brown-dark:#3E150F;
$blue-dark:#1C3077;
$pink-light:#FFCDCF;

// Other Colors
$info-color: #3E150F; // Example additional color
$warning-color: #FFA500; // Example warning color
$success-color: #28A745; // Example success color

// Shadows
$shadow-light: 0px 4px 8px 0px rgba(35, 35, 47, 0.08), 0px 1px 2px 0px rgba(35, 35, 47, 0.06);

// Font Sizes
$font-size-1: 1px;
$font-size-2: 2px;
$font-size-3: 3px;
$font-size-4: 4px;
$font-size-5: 5px;
$font-size-6: 6px;
$font-size-7: 7px;
$font-size-8: 8px;
$font-size-9: 9px;
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-14decimal: 14.907px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-19: 19px;
$font-size-20: 20px;
$font-size-21: 21px;
$font-size-22: 22px;
$font-size-23: 23px;
$font-size-24: 24px;
$font-size-25: 25px;
$font-size-26: 26px;
$font-size-27: 27px;
$font-size-28: 28px;
$font-size-29: 29px;
$font-size-30: 30px;
$font-size-31: 31px;
$font-size-32: 32px;
$font-size-33: 33px;
$font-size-34: 34px;
$font-size-35: 35px;
$font-size-36: 36px;
$font-size-37: 37px;
$font-size-38: 38px;
$font-size-39: 39px;
$font-size-40: 40px;
$font-size-41: 41px;
$font-size-42: 42px;
$font-size-43: 43px;
$font-size-44: 44px;
$font-size-45: 45px;
$font-size-46: 46px;
$font-size-47: 47px;
$font-size-48: 48px;
$font-size-49: 49px;
$font-size-50: 50px;
